
Python Basics for Data Science 
Author: Sanjana jaiswal

In [1]:
x = 10
y = 20
print("Sum:", x + y)

Sum: 30

In [2]:

# 1. Variables and Data Type
age = 22                # integer
height = 5.4            # float
name = "Sanjana"        # string
is_student = True       # boolean

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Student:", is_student)

Name: Sanjana
Age: 22
Height: 5.4
Student: True

In [3]:

# 2. Lists, Tuples, Sets, Dictionary
# List (ordered, changeable, allows duplicates)
fruits = ["apple", "banana", "mango", "apple"]
print("Fruits List:", fruits)

# Tuple (ordered, unchangeable)
coordinates = (10, 20)
print("Coordinates Tuple:", coordinates)

# Set (unordered, no duplicates)
unique_numbers = {1, 2, 3, 3, 2, 1}
print("Unique Numbers Set:", unique_numbers)

# Dictionary (key-value pairs)
student = {
    "name": "Sanjana",
    "age": 22,
    "course": "Data Science"
}
print("Student Dictionary:", student)

Fruits List: ['apple', 'banana', 'mango', 'apple']
Coordinates Tuple: (10, 20)
Unique Numbers Set: {1, 2, 3}
Student Dictionary: {'name': 'Sanjana', 'age': 22, 'course': 'Data Science'}

In [4]:

# If - Elif - Else Example 
age = int(input("Enter your age: "))

if age < 18:
    print("Sorry, you are underage. You cannot drive yet.")
elif age >= 18 and age < 60:
    print("You are eligible for a driving license. Drive safe! ")
else:
    print("You can drive, but please be extra careful on the road. ")

Enter your age:  45

You are eligible for a driving license. Drive safe!

In [5]:

# For Loop Example 
fruits = ["apple", "banana", "mango", "orange"]

print("Shopping Bag Items:")
for fruit in fruits:
    print("-", fruit)

# Another Example: Print numbers 1 to 5
print("\nNumbers from 1 to 5:")
for i in range(1, 6):
    print(i)

Shopping Bag Items:
- apple
- banana
- mango
- orange

Numbers from 1 to 5:
1
2
3
4
5

In [6]:

# Break Example 

print("Searching for mango in the basket...")

fruits = ["apple", "banana", "mango", "orange", "grapes"]

for fruit in fruits:
    if fruit == "mango":
        print("Mango found ! Stopping the search.")
        break
    print("Checked:", fruit)

Searching for mango in the basket...
Checked: apple
Checked: banana
Mango found ! Stopping the search.

In [7]:

# Continue Example 
print("Printing numbers except 3:")

for i in range(1, 6):
    if i == 3:
        continue   # skip 3
    print(i)

Printing numbers except 3:
1
2
4
5

In [8]:

# Pass Example 

print("Demo of pass statement:")

for i in range(1, 6):
    if i == 3:
        pass   # abhi code decide nahi kiya, so pass use kiya
    else:
        print("Number:", i)

Demo of pass statement:
Number: 1
Number: 2
Number: 4
Number: 5